<style>
    body {
        background-color: #eceff1;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
    }
    h1{
        background-color: #b2dfdb;
        text-align: center;
        padding: 0.1em;
        border-radius: 0.9em;
        font-family: monospace;
        font-style: oblique;
        box-shadow: 1px 1px 1px 1px black;
    }
    .container {
        background-color: aqua;
        width: 450px;
        box-shadow: 3px 3px 3px 3px black;
    }
    label{
        font-size: 18px;
        text-shadow: 2px 2px 2px black;
        font-family: monospace;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .form-group {
        display: block;
        flex-direction: row;
        align-items: center;
        margin-bottom: 10px;
    }
    input{
        font-size: 18px;
        text-align: justify;
        font-family: monospace;
        box-shadow: 3px 3px 3px 3px blue;
        border-radius: 20px;
        align-items: center;
        margin-bottom: 0;
    }
    #id_group{
        color: white;
        box-shadow: 3px 3px 3px 3px black;
        background-color: darkcyan;
    }
    #id_group:focus{
        color: black;
        background-color: #b2dfdb;
    }
    .btn-primary{
        width: 32%;
        height: 20%;
        font-family: cursive;
        font-size: 18px;
        text-align: center;
        margin-top: 10px;
        border-radius: 1.5em;
        color: white;
        text-shadow: 2px 2px 2px black;
        box-shadow: 2px 2px 2px 2px black;
        background-color: darkcyan;
        cursor: pointer;
    }
    .btn-primary:hover{
        color: darkblue;
        background-color: white;
    }
</style>
<div class="container">
    <h1>Registro de Usuario</h1>
    <form action="" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="{{ form.username.id_for_label }}">Nombre de usuario:
            </label>
            {{ form.username }}
        </div>
        <div class="form-group">
            <label for="{{ form.email.id_for_label }}">Correo electrónico:
            </label>
            {{ form.email }}
        </div>
        <div class="form-group">
            <label for="{{ form.pasword1.id_for_label }}">Contraseña:
            </label>
            {{ form.password1 }}
        </div>
        <div class="form-group">
            <label for="{{ form.password2.id_for_label }}">Confirmar Contraseña:
            </label>
            {{ form.password2 }}
        </div>
        <div class="form-group">
            <label for="{{ form.group.id_for_label }}">Rol:
            </label>
            {{ form.group }}
        </div>
        <input type="submit" class="btn btn-primary" value="Registrar">
    </form>
</div>